<div class="card">
    <div class="row" style="display: inline-block;">
        <div class="tile_count">
            <div class="col-md-4 col-sm-4  tile_stats_count">
                <span class="count_top"><i class="fa fa-money"></i> Agendamento de Pagamento Pendente</span>
                <div class="count">20</div>
            </div>
            <div class="col-md-4 col-sm-4  tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Agendamento de Exame Pendente</span>
                <div class="count">2</div>
            </div>
            <div class="col-md-4 col-sm-4  tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total de Cadastros Atualizados</span>
                <div class="count">7</div>
            </div>
        </div>
    </div>
</div>