	<h2 class="text-left" ng-show="!edicao">Solicitações de Pagamento por Clientes</h2>

	<!-- Table to show employee detalis -->
	<div class="table-responsive" ng-show="!edicao">
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>CPF</th>
				<th>Nome</th>
				<th>Endereço</th>
				<th>Data</th>
				<th>Forma de Pagamento</th>
				<th>Status</th>
				<th>Ações</th>
				<th>Info</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-show="solicitacoes.length <= 0"><td colspan="6" style="text-align:center;">Loading new data!!</td></tr>
			<tr dir-paginate="solicitacao in solicitacoes|itemsPerPage:itemsPerPage" total-items="totalCount">
				<td>{{solicitacao.cpfSolicitante}}</td>
				<td>{{solicitacao.nomeSolicitante}}</td>
				<td>{{solicitacao.logradouroEndereco + ', ' + solicitacao.complementoEndereco + ', ' + solicitacao.bairroEndereco +' - ' + solicitacao.cepEndereco }}</td>
				<td>{{solicitacao.data | date: 'dd/MM/yyyy hh:mm'}}</td>
				<td>{{solicitacao.formaPagamento}}</td>
				<td>{{solicitacao.status}}</td>
				<td>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<button data-ng-if="solicitacao.status == 'PENDENTE'" class="btn btn-primary btn-sm" ng-click="atualizaStatusSolicitacao(solicitacao, 'CONFIRMADO')" title="Confirmar">
							<i class="fa fa-check"></i>
						</button>
						<button data-ng-if="solicitacao.status == 'PENDENTE'" class="btn btn-danger btn-sm" ng-click="atualizaStatusSolicitacao(solicitacao, 'RECUSADO')" title="Recusar">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</td>
				<td>
					<button class="btn btn-warning btn-sm" ng-click="informacoes(solicitacao)" title="Informações"><i class="fa fa-info" aria-hidden="true"></i></button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>


<div class="row">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: center;">
		<nav stylaria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" >Anterior</a></li>
				<li class="page-item disabled">
					<a class="page-link" >
						{{pageNumber}}/{{(totalItems/itemsPerPage) + 1  | number:0}}
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" >Próximo</a>
				</li>
			</ul>

		</nav>
	</div>
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Informações sobre solicitação</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" name="empList" id="empForm">
					<input type="hidden" name="id" class="form-control" ng-model="solicitacao.id"/>


					<h2 class="text-left">Informações de Solicitação</h2>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="titulo">CPF Solicitante:</label>
								<input disabled id="titulo" type="text" name="titulo" class="form-control" ng-model="solicitacaoSelecionada.cpfSolicitante" />
							</div>
						</div>

						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="form-group">
								<label for="nomeSolicitante">Data:</label>
								<input disabled id="nomeSolicitante" type="text" name="data" date-picker-init class="form-control" placeholder="" ng-model="solicitacaoSelecionada.nomeSolicitante" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label for="formaPagamento">Forma de Pagamento:</label>
								<input disabled id="formaPagamento" type="text" name="formaPagamento" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.formaPagamento" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="form-group">
								<label for="data">Data de Agendamento:</label>
								<input disabled id="data" type="text" name="data"class="form-control" placeholder="" ng-model="solicitacaoSelecionada.data" />
							</div>
						</div>

						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
							<div class="form-group">
								<label for="quantidadeParcelas">Qtd Parcelas:</label>
								<input disabled id="quantidadeParcelas" type="text" name="quantidadeParcelas" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.quantidadeParcelas" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="form-group">
								<label for="status">Status Solicitação:</label>
								<input disabled id="status" type="text" name="status" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.status" />
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<div class="form-group">
								<label for="cepEndereco">CEP:</label>
								<input disabled id="cepEndereco" type="text" name="cepEndereco" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.cepEndereco" />
							</div>
						</div>

						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
							<div class="form-group">
								<label for="logradouroEndereco">Logradouro:</label>
								<input disabled  id="logradouroEndereco" type="text" name="logradouroEndereco" class="form-control"ng-model="solicitacaoSelecionada.logradouroEndereco" />
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label for="complementoEndereco">Complemento:</label>
								<input disabled id="complementoEndereco" type="text" name="complementoEndereco" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.complementoEndereco" />
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label for="bairroEndereco">Bairro:</label>
								<input disabled id="bairroEndereco" type="text" name="bairroEndereco" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.bairroEndereco" />
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label for="cidadeEndereco">Cidade:</label>
								<input disabled id="cidadeEndereco" type="text" name="cidadeEndereco" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.cidadeEndereco" />
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label for="estadoEndereco">Estado:</label>
								<input disabled id="estadoEndereco" type="text" name="estadoEndereco" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.estadoEndereco" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label for="telefonePrimario">Telefone Primário:</label>
								<input disabled id="telefonePrimario" type="text" name="telefonePrimario" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.telefonePrimario" />
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label for="telefoneSecundario">Telefone Secundário:</label>
								<input disabled id="telefoneSecundario" type="text" name="telefoneSecundario" class="form-control" placeholder="" ng-model="solicitacaoSelecionada.telefoneSecundario" />
							</div>
						</div>

					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

